*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
app/google-services.json
*.apk
*.ap_
*.aab
server/backup-api/node_modules/
server/backup-api/data/
server/backup-api/.env
